[submodule "Eclipse/vendor/spdlog"]
	path = Eclipse/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GLFW_fork"]
	path = Eclipse/vendor/GLFW_fork
	url = https://github.com/Oordell/glfw
[submodule "Eclipse/vendor/imgui"]
	path = Eclipse/vendor/imgui
	url = https://github.com/Oordell/imgui
